<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/icons/icon-152.png">
    <link rel="icon" href="./favicon.ico">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>CariMakanAja.</title>
</head>

<body>
    <a href="#content" class="skip-link" title="skip to main content">Skip to content</a>
    <div class="mobilemenu">
        <div class="iconmenu" id="menu"><button class="burger-button">☰</button></div>
        <div class="logomobile">CariMakanAja.</div>
        <div class="logomobile">&nbsp;</div>
    </div>
    <nav id="drawer" class="mobilenav">
        <ul class="mobilenavlist">
            <li class="mobilenavitem"><a href="#/home">Home</a></li>
            <li class="mobilenavitem"><a href="#/favorite">Favorite</a></li>
            <li class="mobilenavitem"><a target="_blank"
                    href="https://github.com/syahrulamri11">About</a></li>
        </ul>
    </nav>
    <nav class="nav">
        <a class="logo" href="">CariMakanAja.</a>
        <ul class="navlist">
            <li class="mobilenavitem"><a href="#/home">Home</a></li>
            <li class="navitem"><a href="#/favorite">Favorite</a></li>
            <li class="navitem"><a target="_blank" href="https://github.com/syahrulamri11">About
                    </a></li>
        </ul>
    </nav>

    <div class="hero">
        <picture class="hero__img">
            <source media="(max-width: 480px)" srcset="./images/hero-image_4-small.jpg">
            <source media="(max-width: 800px)" srcset="./images/hero-image_4-large.jpg">
            <img src="./hero-image_4.jpg" alt="restaurant hero image">
        </picture>
        <div class="hero__content">
            <h1 class="hero__title">CariMakanAja.</h1>
            <p class="hero__description">Temukan makanananmu hanya di CariMakanAja.</p>
        </div>
    </div>

    <main id="content"></main>

    <footer>
        <div class="bottom-bar">
            <div class="container">
                <p>Copyright © 2023 - CariMakanAja.</p>
            </div>
        </div>
    </footer>
</body>
</html>
